<ul class="nav nav-list">
  <li class="nav-header">Events <%= @date.nil? ? "" : "on " + @date %></li>
  <% if @events.nil? %>
    <li>Choose the date</li>
  <% else %>
    <% if @events.blank? %>
      <li>No events</li>
    <% else %>
      <% @events.each() do |event| %>
        <div class="hidden-event">
          <%= render 'shared/create_event', :event => event %>
        </div>
        <li><%= link_to_prototype_dialog event.name, 'save-update-event' + event.id.to_s, 'confirm',
                                         {:className => "alphacube", :width => '450', :height => 'null'} %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>