<div id="share-review">
    <h2> Please leave us a review and a rating</h2>
    <table class="review-table">
      <tbody>
        <tr>
          <td align="center">
            <div id="review-error-messages">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>