<legend>Events calendar</legend>
<div id="radio-buttons">
  <span class="inline-span"><input id="all-events-radio" type="radio" name="event-radio-select" value="rad1" checked="checked">&nbsp;All events</span>
  <span class="inline-span"><input id="my-events-radio" type="radio" name="event-radio-select" value="rad2">&nbsp;My events</span>
</div>

<%= render 'shared/calendar-events' %>

<%= render 'shared/create_edit_event', :event => @event %>
