<div id="cStyle"></div>

<div id="embeddedExample" style="">
  <div id="embeddedCalendar" style="margin-left: auto; margin-right: auto">
  </div>
  <br />
  <input id="embeddedDateField" class="dateField" onchange="alert(this.value)" />
  <br />
</div>
