<legend>Тестовое задание #2</legend>
<div class="image_photo"><%= image_tag "/images/myface.png", :width => '100px' %></div>
<span class="my-data">
  <p><a href="http://kazan.hh.ru/resume/a3e9b508ff0135156d0039ed1f466661794d37">Байбиков Румиль Шакирович</a></p>
  <p>email: rumil.baybikov@gmail.com</p>
  <p>моб. т.: +7 927 467-17-30</p>
</span>
