<header>
  <%= image_tag("/images/apple_logo.jpg", :alt => "Sample App", :class => "round", :size => "40x45") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Sign in", "sign_in" %></li>
    </ul>
  </nav>
</header>